Source: paratec
Maintainer: Andrew Stone <a@stoney.io>
Section: devel
Priority: optional
Standards-Version: 3.9.6
Build-Depends:
	clang,
	debhelper (>= 9),

Package: libparatec1
Architecture: any
Multi-Arch: same
Depends:
	${shlibs:Depends},
	${misc:Depends},
Description: Parallel Testing for C/C++
	Paratec is a simple unit testing framework that stays out of your way
	while making your life easier. Tests are always run in isolation from each
	other and in parallel, so everything is always fast and safe.

Package: libparatec-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
	${misc:Depends},
	libparatec1 (=${binary:Version}),
Description: Parallel Testing for C/C++ - development files
	Paratec is a simple unit testing framework that stays out of your way
	while making your life easier. Tests are always run in isolation from each
	other and in parallel, so everything is always fast and safe.
	.
	This package provides development files.

Package: libparatec-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
	libparatec1 (=${binary:Version}),
	${misc:Depends},
Description: Parallel Testing for C/C++ - debug files
	Paratec is a simple unit testing framework that stays out of your way
	while making your life easier. Tests are always run in isolation from each
	other and in parallel, so everything is always fast and safe.
	.
	This package provides debugging symbols.
